body{
    margin: 0%;
}

nav{
    display:flex;
    justify-content: space-around;
    align-content: center;
    background-color: #dcc2e3d6;
    width: 100%;
    text-decoration: none;
    padding: 10px;

}

nav h1{
    margin: 5px 0px;
    font-size: 25px;
    padding-left: 20px;

}

nav ul  li{
    list-style-type: none;
    display: inline;
    padding: 10px 20px;
    font-size: 20px;
    }
   
 .sec1 {
    background-image: url("Image/colorful-smoky-watercolor-textured-background.jpg");
    position: absolute;
    height: 85%;
    width: 100%;
    object-fit: fill;

 }   

  #container{
        display: flex;
        justify-content: center;
        position: absolute;
    }
    
    #container  .left {
        width: 50%;
        text-align: left;
        padding-left:160px ;
        padding-top: 300px;
    }
    .left h5{
        padding-left:50px ;
    }
    .left h1{
        padding-left:50px ;
        font-size: 45px;
        color: #6846aa;
        margin-bottom: 50px;

    }
     
    #container button{
        outline: none;
        border:none;
        padding: 20px 5px;
        border-radius:10px;
        margin: 50px;
        width: 150px;
    }


    #container  .right {
        width: 60%;
        position: relative;
        display: flex;
    }

    #container .right img{
        width: 100%;
        border-radius: 13%;
        margin-bottom: 50px;
        padding-right: 30px;
        padding-top: 170px;
 
    }